[general]

maxThreads=20
chrLenFile=~/path-to-input-file/scaff_length
ploidy=1,2
window=1000 #here change for 5000 or 10000 if needed


[sample]

mateFile=~/path-to-bowtie2output/japonicum_females.sam
inputFormat=SAM
mateOrientation=FR

[control]

mateFile=~/path-to-bowtie2output/japonicum_males.sam
inputFormat=SAM
mateOrientation=FR

[BAF]

[target]


